In [1]:
import numpy as np
import pandas as pd

In [2]:
credit_df = pd.read_csv('datasets/credit_data.csv')

In [3]:
credit_df.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
115516,73892.0,-0.437811,1.373016,1.011244,1.079726,-0.279191,-0.775242,0.202619,0.239605,-1.049486,...,-0.101656,-0.339511,0.088823,0.390392,-0.727172,0.251052,0.040072,0.105115,1.98,0
4980,4544.0,-0.908938,0.872991,2.194870,0.750183,0.504101,-0.044934,0.189569,0.021651,0.487773,...,-0.261498,-0.470608,-0.077343,0.058177,-0.220649,0.263873,-0.050867,0.058459,1.17,0
204007,135070.0,-1.078591,0.532093,-3.095806,-0.458347,1.215955,-0.950828,1.171644,0.463784,-0.895880,...,0.538058,1.540525,0.372296,0.173347,-0.989158,0.379831,0.283443,-0.069412,67.67,0
159724,112853.0,-1.179739,1.071312,-0.036900,-0.781708,0.989733,-0.584698,1.033843,-0.516135,1.210659,...,-0.190907,0.011389,0.043886,0.490272,-0.718441,0.195126,-0.308436,0.150324,5.53,0
151654,95932.0,1.982044,0.909839,-1.538240,3.693872,1.305319,-0.276832,0.731750,-0.346789,-0.518915,...,0.016379,0.255312,-0.057082,-0.560714,0.379764,0.114241,-0.118176,-0.087828,9.00,0

In [6]:
# distribution of the two classes
credit_df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

this is an imbalanced dataset;

0 => legal transactions
1 => fradulent transactions

In [9]:
# separating the legit and fradulent transactions
legit_df = credit_df[credit_df.Class == 0]
fraud_df = credit_df[credit_df.Class == 1]

undersampling

we take all the 492 fraud rows and select about 492 rows from legit_df

In [10]:
legit_sample = legit_df.sample(492)

In [11]:
legit_sample.shape

(492, 31)

In [12]:
# concatenating the two dataframe
# axis = 0; for row-wise concatenation
new_df = pd.concat([legit_sample, fraud_df], axis= 0)

In [14]:
new_df['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64